{{ $queryFunctions := getJSON "../humio/target/docs-data/queryfunctions.json" }}

{{ range sort $queryFunctions "name" }}
<div class="query-function">
<div class="query-function__top">
  <h2 id="{{.name}}" class="query-function__title">{{ .name}}</h2>
  <div class="query-function__type">( {{ if .isAggregateFunction }}Aggregate{{ else }}Filter{{ end }} Function )</div>
</div>
<p>{{ .description | markdownify }}</p>
<h3 id="{{.name}}-parameters">Parameters</h3>
{{ if .parameters }}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Is&nbsp;required</th>
        <th>Default&nbsp;value</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>{{ range .parameters }}
    <tr>
        <td>{{ .name}}</td>
        <td>{{ .type}}</td>
        <td>{{ if .isRequired }}Yes{{ else }}No{{ end }}</td>
        <td>{{ .defaultValue}}</td>
        <td>{{ .description}}</td>
    </tr>
    {{ end }}</tbody>
</table>
{{ else }}
<p>Takes no parameters</p>
{{ end }}
<h3 id="{{ .name }}-examples">Examples</h3>
{{range $index, $value := .examples}}
<h4 id="{{ $value.name }}-examples-{{add $index 1}}">Example {{ add $index 1 }}</h4>
<p>{{ $value.description}}</p>
{{ highlight $value.value "" "" }}
{{ end }}
</div>
{{ end }}
